.timeline {
    position: relative;
    padding: 50px 0;
  }
  
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    margin-left: -1px;
    background-color: #ccc;
  }
  
  .timeline-item {
    position: relative;
    margin-bottom: 50px;
  }
  
  .timeline-item.education .timeline-content {
    margin-right: 50px;
  }
  
  .timeline-item.work .timeline-content {
    margin-left: 50px;
  }
  
  .timeline-icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ccc;
    text-align: center;
    line-height: 50px;
    font-size: 1.4rem;
  }
  
  .timeline-item.education .timeline-icon {
    left: 50%;
    right: auto;
  }
  
  .timeline-item.work .timeline-icon {
    left: 50%;
    right: auto;
  }
  
  .timeline-content {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
  }

  .timeline-item.education .timeline-content {
    /* width content = 20 + 500 + 20 = 540 (padding) */
    /* width icon = 50 */
    transform: translate(-590px, -50%);
  }
  
  .timeline-item.work .timeline-content {
    /* left: 50%;
    right: auto; */
    transform: translate(0px, -50%);
  }
  
  .timeline-content h3 {
    margin-top: 0;
    font-size: 1.2rem;
  }
  
  .timeline-content p {
    margin-bottom: 0;
    font-size: 0.9rem;
    color: #777;
  }
  